.list-data{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.list{
    margin: 10px 0;
    border: 1px solid #000;
    width: 200px;
    padding: 10px;
}

.crud-button{
    display: flex;
    justify-content: space-around;
}

.crud-button button{
    cursor: pointer;
}

.post-image{
    width: 100%;
}

.post-image img{
    width: 30%;
}