
<mat-spinner class="spinner" color="accent" *ngIf="isLoading"></mat-spinner>
<div class="list-data" *ngIf="postData.length>0 && !isLoading">
    <div>List of users</div>
    <div class="list" *ngFor="let item of postData">
        <p>Name: {{item.firstName}}  {{item.lastName}}</p>
        <p>email: {{item.email}}</p>
        <p>phone: {{item.phone}}</p>
        <div class="post-image">
            <img  [src]="item.imagePath">
        </div>
        <div class="crud-button">
            <button class="pointer" type="submit"  [routerLink]="['/edit', item.id]" mat-raised-button color="primary">EDIT</button>
            
            <button class="pointer" type="submit" mat-raised-button  (click)="onDelete(item.id)" 
            color="accent">DELETE</button>
            <!-- <button (click)="openDialog(item.id)">DELETE</button> -->
        </div>
    </div>

</div>
<p class="text-center" *ngIf="postData.length<=0">No post added</p>
